name: Spack Environment Setup

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  setup-spack-env:
    runs-on: [dev-camber]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python virtual environment
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip install clingo
          which python
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV

      - name: Clone Spack v1.0.0
        run: |
          echo $GITHUB_ENV
          git clone -b v1.0.0 https://github.com/spack/spack.git $GITHUB_WORKSPACE/spack
          source $GITHUB_WORKSPACE/spack/share/spack/setup-env.sh
          echo $SPACK_ROOT >> $GITHUB_ENV

      - name: Set SPACK_PYTHON
        run: |
          source venv/bin/activate
          export SPACK_PYTHON=$(which python3)
          echo $SPACK_PYTHON >> $GITHUB_ENV

      - name: Copy settings directory to SPACK_ROOT/etc/spack
        run: |
          mkdir -p $SPACK_ROOT/etc/spack
          cp -r settings/* $SPACK_ROOT/etc/spack/

      - name: Create Spack environment from apps.yaml
        run: |
          source venv/bin/activate
          source $SPACK_ROOT/share/spack/setup-env.sh
          spack env create myenv spack-configs/apps.yaml

      - name: Activate and concretize Spack environment
        run: |
          source venv/bin/activate
          source $SPACK_ROOT/share/spack/setup-env.sh
          spack env activate $GITHUB_WORKSPACE/spack-configs/apps.yaml
          spack env st
          spack concretize -f

